/* Impact */
@font-face {
  font-family: 'Impact';
  src: url('asset - Beaver Cereals/font/file/impact.ttf');
}

/* AppleSDGothicNeo */
@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: url('asset - Beaver Cereals/font/file/AppleSDGothicNeoR.ttf');
}

/* DungGeunMo */
@font-face {
  font-family: 'DungGeunMo';
  src: url('asset - Beaver Cereals/font/file/DungGeunMo.ttf');
}
